services:
  django:
    image: laxy:latest
    working_dir: /app
    environment:
      - LAXY_DATABASE_URL=postgres://postgres:postgres@db:5432/postgres
      - LAXY_BROKER_URL=amqp://guest@rabbitmq
      - LAXY_WEB_SCRAPER_BACKEND=splash
      - LAXY_WEB_SCRAPER_SPLASH_HOST=http://splash:8050
    command: bash -c "sleep 10 && python3 manage.py runserver 0.0.0.0:8001"
    expose:
      - "8001"
    depends_on:
      - db
      - queue-high
      - queue-low

  dev-frontend-server:
    image: laxy:latest
    restart: "no"
    command: echo "Service disabled unless explicitly overridden (eg in
      docker-compose.local-dev.yml)"

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - dbdata:/var/lib/postgresql/data/pgdata
  #      - type: volume
  #        source: dbdata
  #        target: /var/lib/postgresql/data/pgdata
  #        volume:
  #          nocopy: true
  #    expose:
  #      - "5432"

  rabbitmq:
    # version >3.8.14 requires consumer_timeout setting increase in rabbitmq config
    # more info: https://github.com/apache/airflow/issues/15799
    image: rabbitmq:3.8.14-management-alpine
    hostname: "rabbitmq"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
  #   expose:
  #     - "5672"
  #     - "15672"

  queue-high:
    image: laxy:latest
    working_dir: /app
    environment:
      - LAXY_DATABASE_URL=postgres://postgres:postgres@db:5432/postgres
      - LAXY_BROKER_URL=amqp://guest@rabbitmq
      # - LAXY_BROKER_URL=redis://redis:6379/0
      - LAXY_WEB_SCRAPER_BACKEND=splash
      - LAXY_WEB_SCRAPER_SPLASH_HOST=http://splash:8050
    command:
      [
        "celery",
        "-A",
        "laxy",
        "worker",
        "-E",
        "-l",
        "info",
        "-Ofair"
      ]
    stop_grace_period: 5m
    stop_signal: SIGTERM
    depends_on:
      - db
      - rabbitmq

  queue-low:
    image: laxy:latest
    working_dir: /app
    environment:
      - LAXY_DATABASE_URL=postgres://postgres:postgres@db:5432/postgres
      - LAXY_BROKER_URL=amqp://guest@rabbitmq
      # - LAXY_BROKER_URL=redis://redis:6379/0
      - LAXY_WEB_SCRAPER_BACKEND=splash
      - LAXY_WEB_SCRAPER_SPLASH_HOST=http://splash:8050
    command:
      [
        "celery",
        "-A",
        "laxy",
        "worker",
        "-E",
        "-l",
        "info",
        "-Ofair",
        "-Q",
        "low-priority"
      ]
    stop_grace_period: 5m
    stop_signal: SIGTERM
    depends_on:
      - db
      - rabbitmq

  celery-beat:
    image: laxy:latest
    working_dir: /app
    environment:
      - LAXY_DATABASE_URL=postgres://postgres:postgres@db:5432/postgres
      - LAXY_BROKER_URL=amqp://guest@rabbitmq
      # - LAXY_BROKER_URL=redis://redis:6379/0
      - LAXY_WEB_SCRAPER_BACKEND=splash
      - LAXY_WEB_SCRAPER_SPLASH_HOST=http://splash:8050
    command:
      [
        "celery",
        "-A",
        "laxy",
        "-s",
        "/app/celerybeat-schedule",
        "beat"
      ]
    depends_on:
      - db
      - rabbitmq
    volumes:
      - celerybeat-schedule:/var/run/celerybeat-schedule

  flower:
    # Alternative using public flower image
    #image: mher/flower:latest
    image: laxy:latest
    environment:
      - LAXY_DEBUG=no
      - LAXY_BROKER_URL=amqp://guest@rabbitmq
    #     - LAXY_BROKER_URL=redis://redis:6379/0
    #     - FLOWER_BASIC_AUTH=user:pass
    ports:
      - "5556:5556"
    working_dir: /app
    command: sh -c "sleep 30 && celery -A laxy flower --port=5556"
    # entrypoint:
    #   - celery
    #   - -A
    #   - laxy
    #   - flower
    #   - --port=5556
    depends_on:
      - db
      - rabbitmq
      - queue-high
      - queue-low

  nginx:
    image: laxy-static-nginx:latest
    # Really, django depends on nginx, however because of the way nginx hostname resolution
    # works during startup, the django service (and associated internal DNS name) must
    # exist BEFORE nginx starts.
    depends_on:
      - django

  splash:
    # https://hub.docker.com/layers/scrapinghub/splash/master/images/sha256-02d75b5b052f3d91c2f2b308c1c402bd11464beb3ed0a468253921c2c39b2b8e
    image: scrapinghub/splash:master
    command: --disable-ui --disable-lua --disable-browser-caches --max-timeout 300
    expose:
      - "8050"
    depends_on:
      - django
      - queue-high
      - queue-low

volumes:
  dbdata: null
  rabbitmq_data: null
  celerybeat-schedule: null
