gunicorn
# gunicorn[gevent]
gevent
greenlet
redis
requests
backoff
boto3
Fabric3
# executor
# envoy
BaseHash
PyJWT
pydash
pyyaml>=4.2b1
toolz
xxhash
lxml
pandas
rows
enasearch
attrdict
robobrowser
python-magic
fs  # PyFilesystem
sentry-sdk==0.6.8

# Base Django packages
django==2.1.7
django-reversion
django-cors-headers
django-extensions
django-storages
django-object-actions
django-cache-memoize
social-auth-core>=3.0.0,<4.0.0
social-auth-app-django>=3.0.0,<4.0.0
rest-social-auth>=1.5.0
django-rest-framework-social-oauth2

# The Bitbucket one
# django-jsonfield  # https://bitbucket.org/schinckel/django-jsonfield
hg+https://bitbucket.org/schinckel/django-jsonfield#egg=django-jsonfield

# The Github one
# jsonfield  # https://github.com/dmkoch/django-jsonfield
# compatibility layer for jsonfield<->Django native Postgres JSONField
# django-jsonfield-compat  # broken ?

# For LoginRequiredMixin, CsrfExemptMixin
django-braces
django-environ
# django-tus

# Authentication
# Is django-allauth actually used ?
django-allauth
# django-auth-adfs
# https://github.com/NIF-au/django-rapid-connect-demo

# Django REST Framework, and some optional extra packages
djangorestframework==3.9.1
markdown
django-filter>=2,<3
# django-filter
django-guardian
coreapi
djangorestframework-jwt

# drf_openapi==1.3.0
# git+https://github.com/limdauto/drf_openapi.git#egg=drf_openapi
# https://github.com/limdauto/drf_openapi/issues/105
git+https://github.com/maykinmedia/drf_openapi.git@105-proxy-label-cannot-be-decoded#egg=drf_openapi

git+https://github.com/pansapiens/json-merge-patch.git#egg=json_merge_patch
jsonpatch

# Celery task queue
celery
flower
django-celery-results
django-celery-beat

# Postgres packages
# sudo apt-get install postgresql postgresql-server-dev-all
psycopg2-binary
