django-extensions==3.0.3  # apt: graphviz graphviz-dev
docker-compose==1.26.2
django-stubs==1.5.0
pytest==6.0.1
pytest-django==3.9.0
# pydevd-pycharm~=192.6262.63  # needs to match your PyCharm version exactly
# pip-chill  # nice idea that is broken ?

pylint==2.5.3
pylint-django==2.2.0
black==19.10b0