django-extensions  # apt: graphviz graphviz-dev
docker-compose
django-stubs
pytest
pytest-django
# tox
# pydevd-pycharm~=192.6262.63  # needs to match your PyCharm version exactly
# mercurial  # Python 2.7 only
# pip-chill  # nice idea that is broken ?

pylint
pylint-django
