// These are custom nextflow config overrides just for this pipeline
process {
  
  // Newer nf-core/rnaseq versions (3.18.0+) use this rather than max_time etc
  /*
  resourceLimits = [
    cpus: 48,
    memory: 330.GB,
    time: 4.h
  ]
  */

  withName: 'NFCORE_RNASEQ:RNASEQ:DUPRADAR' {
    errorStrategy = 'ignore'
  }

  withName: 'NFCORE_RNASEQ:RNASEQ:QUALIMAP_RNASEQ' {
    errorStrategy = 'ignore'
  }

  withName: 'NFCORE_RNASEQ:RNASEQ:DESEQ2_QC_PSEUDO' {
    errorStrategy = 'ignore'
  }
  
  withName: 'NFCORE_RNASEQ:RNASEQ:DESEQ2_QC_STAR_SALMON' {
    errorStrategy = 'ignore'
  }

}