
params {
  config_profile_description = 'fake cluster profile.'
  config_profile_contact = 'Andrew Perry (Andrew.Perry@monash.edu)'
  config_profile_url = "https://github.com/Monash-Bioinformatics-Platform/laxy"
}

apptainer {
  enabled = true
  autoMounts = true
  pullTimeout = 3.h
  runOptions = '-B /scratch'
}

executor {
    $slurm {
      queueSize = 200
      pollInterval = '30 sec'
      queueStatInterval = '10m'
    }
}

process {
  executor = 'slurm'
  stageInMode = 'symlink'
  cache = 'lenient'
  errorStrategy = 'retry'
  maxRetries = 1

  resourceLimits = [
    cpus: 4,
    memory: 8.GB,
    time: 4.h
  ]

  withName: 'NFCORE_RNASEQ:RNASEQ:QUALIMAP_RNASEQ' {
    errorStrategy = 'ignore'
  }
  withName: 'NFCORE_RNASEQ:RNASEQ:DUPRADAR' {
    errorStrategy = 'ignore'
  }
  withName: 'NFCORE_RNASEQ:RNASEQ:BAM_DEDUP_STATS_SAMTOOLS_UMITOOLS_GENOME:UMITOOLS_DEDUP' {
    errorStrategy = 'retry'
    maxRetries = 1
  }
  withName: 'NFCORE_RNASEQ:RNASEQ:QUANTIFY_SALMON:SALMON_QUANT' {
    memory = 4.GB
  }
  withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:FQ_LINT' {
    memory = 4.GB
  }
  withName: 'NFCORE_RNASEQ:RNASEQ:PREPARE_GENOME:SALMON_INDEX' {
    memory = 4.GB
  }
}