# config file
# NOTE can't have comment on the same line as options
# i.e starExe = STAR # comment
# is not allowed, that will break config file and result in errors during runtime
# paths to tools executable
starExe = STAR
hisat2Exe = hisat2
bwaExe = bwa
samtoolsExe = samtools
bedtoolsExe = bedtools
countsExe = featureCounts
fastqcExe = fastqc
pythonExe = python
picardExe = picard
jeExe = je
qualimapExe = qualimap
multiqcExe = multiqc
skewerExe = skewer
cpFileExe = cp

# memory settings for different tools
starIdxMem = -1
starAlignMem = -1
bwaIdxMem = -1
bwaAlignMem = -1
hisat2IdxMem = -1
hisat2AlignMem = -1
samtoolsSortMem = 1000000000
samtoolsQcMem = 1000000000
picardMarkDupsMem = -1
picardQcMem = -1
jeMem = -1
picardQcMem = -1
picardCreateDictMem = -1
countsMem = -1
bedtoolsMem = -1
fastqcMem = -1
multiqcMem = -1
# don't yet use this memory setting, here as a place holder
skewerMem = -1
cpFileMem = -1

# threads settings for different tools

starIdxCpu = 1
starAlignCpu = 1
bwaIdxCpu = 1
bwaAlignCpu = 1
hisat2IdxCpu = 1
hisat2AlignCpu = 1
samtoolsSortCpu = 1
samtoolsQcCpu = 1
picardMarkDupsCpu = 1
jeCpu = 1
picardQcCpu = 1
picardCreateDictCpu = 1
bedtoolsCpu = 1
countsCpu = 1
fastqcCpu = 1
multiqcCpu = 1
skewerCpu = 1
cpFileCpu = 1
